{% extends "layouts/base.html" %}

{% block title %}Comptes bancaires{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Demandes d'ouvertures de compte</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter">
                <thead class="text-primary">
                  <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for demandes in Demande_ouverture_list %}
                  <tr>
                    <td>{{ demandes.nom }}</td>
                    <td>{{ demandes.email }}</td>
                    <td>{{ demandes.contact }}</td>
                    <td>
                    {% if demandes.status == 'Approuvée' %}
                    <p><i class="fas fa-check-circle text-success"></i> Acceptée</p>
                    {% elif demandes.status == 'Rejetée' %}
                    <p><i class="fas fa-times-circle text-danger"></i> Refusée</p>
                    {% else %}
                    <p><i class="fas fa-info-circle text-info"></i> En attente</p>
                    {% endif %} 
                    </td>
  
                    <td class="text-center">{{ demandes.date }}</td>
                    <td class="text-center">
                    <a href="{% url 'show_demande' demandes.id %}" class="btn btn-info btn-sm">Afficher</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
